body {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.left {
    /* border: 5px solid red;*/
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 10px;
}

.left img {
    width: 95px;
    left: 30px;
}

.left div {
    font-size: 25px;
    font-family: cursive;
    text-align: center;
}

.mid {
    /* border: 5px solid green;*/
    display: block;
    width: 1000px;
    margin: 12px auto;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: ivory;
    text-decoration: none;
    padding: 40px 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    position: sticky;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
    position: sticky;
}

.my img {
    border-radius: 150px;
    width: 500px;
    margin: 100px;
    display: inline-block;
}

.intro {
    /* border: 12px solid palegreen;*/
    margin: 125px auto;
    display: inline-block;
    width: 700px;
    height: 300px;
    float: right;
}

.intro h3 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro p {
    font-family: cursive;
    font-size: 20px;
}

.about {
    /* border: 2px solid rebeccapurple;*/
    width: 2000px;
    display: block;
}

.about h2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.about pre {
    font-family: cursive;
    font-size: 30px;
}

.contact {
    /* border: 2px solid royalblue;*/
}

.contact h3 {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact pre {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}